you are on the profile page.

<div class="title-block">
	<%= @client.client_id %>
</div>
<div class="status">
	<%= @client.state %>
</div>
<div class="profile">
	<div class="basic">

	</div>
	<div class="comments">
	</div>
	<div class="info">
	</div>

</div>
