<div class="row row-offcanvas row-offcanvas-right">
	<div style="height: 30px"></div>
	<h2>Client Progress</h2>

	<div class='client-progress-bar'>
		<span class="done"></span>
		<span class="pending"></span>
	</div>
	<div class="col-6 col-sm-6 col-lg-4">
		<h3> <u>Completed</u></h3>	
		<div class="padding-sides">
    		<label class="checkbox">
			  	<input type="checkbox" value="" checked>
			  	User Id
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="" checked>
			  	State
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="" checked>
			  	Identity Verification
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="" checked>
			  	Document Ready Date
			</label>
		</div>
	</div>
	<div class="col-6 col-sm-6 col-lg-4">
		<h3><u>Incomplete</u></h3>
		<div class="padding-sides">
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Housing Liason
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Program Matched
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Homeless Verification
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Disability Verification
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Income Verification
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Provisionally Matched Date
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Certificate
			</label>
			<label class="checkbox">
			  	<input type="checkbox" value="">
			  	Housing Date
			</label>

		</div>
	</div>
</div>