<div class="container-fluid well">
	<h2>Client Progress</h2>
	<div class='client-progress-bar'>
		<span class="done"></span>
		<span class="pending"></span>
	</div>
  	<div class="row-fluid">
    	<div class="span6">
    		<h3>Completed</h3>	
    		<div class="padding-sides">
	    		<label class="checkbox">
				  	<input type="checkbox" value="" checked>
				  	User Id
				</label>
				<label class="checkbox">
				  	<input type="checkbox" value="" checked>
				  	State
				</label>
			</div>
    	</div>
    	<div class="span6">
    		<h3>Incomplete</h3>
    		<div class="padding-sides">
				<label class="checkbox">
				  	<input type="checkbox" value="">
				  	Housing Liason
				</label>
				<label class="checkbox">
				  	<input type="checkbox" value="">
				  	Program Matched
				</label>
				<label class="checkbox">
				  	<input type="checkbox" value="">
				  	Homeless Verification
				</label>
				<label class="checkbox">
				  	<input type="checkbox" value="">
				  	Disability Verification
				</label>
				<label class="checkbox">
				  	<input type="checkbox" value="">
				  	Income Verification
				</label>
    		</div>
    	</div>
  	</div>
</div>