<div class='home_page container well'>
<p>This application assist in identifying potential funding and housing slots for currently homeless individuals.</p>

<ul>
	<li><strong>Program Matching</strong><br />
	It takes input from the VI SPADAT, (a vulnerability assessment tool) and compares it with criteria for programs that assist the homeless in acquire housing. It provides a list of programs to which they might receive benefit.&nbsp;</li>
	<li><strong>Progress Tracking</strong><br />
	It also tracks the various stages of&nbsp;</li>
	<li><strong>Housing Slot Matching</strong><br />
	Taking input from landlords on apartments that have openings it looks at what programs they accept and matches the most vulnerable individual who can utilize the open housing.&nbsp;</li>
</ul>
</div>
