<html>
<div class="client_id">
	<h1>Client: Ger87</h1>
</div>
<div class="status">
	<h1>Active</h1>
</div>
<div class="profile">
	<h2>Profile</h2>
	<div class="basic">
		<h3>Basic Information</h3>
		<ul>Interview Date: 04/15/2014</ul>
		<ul>Gender: </ul>
		<ul>Interview Date: 04/15/2014</ul>
		<ul>Interview Date: 04/15/2014</ul>

	</div>
	<div class="info">
		<div class="button">
			<h3>Prescreen</h3>
		</div>
		<div class="button">
			<h3>Homelessness</h3>
		</div>
		<div class="button">
			<h3>Finance</h3>
		</div>
		<div class="button">
			<h3>Drugs/Alcohol</h3>
		</div>
		<div class="button">
			<h3>Health</h3>
		</div>
		<div class="button">
			<h3>Limitations</h3>
		</div>
		<div class="button">
			<h3>History</h3>
		</div>
	</div>
</div>
<div class="progress">
</div>
</html>