<div class="container-fluid well">
	<div class="client_id">
		<h1>Client: Ger87</h1>
	</div>
	<div class="status">
		Active
	</div>
	<div class="profile">
		<h2>Profile</h2>
		<div class="basic">
			<h3>Basic Information</h3>
		</div>
		<div class="info">
			
		</div>

		</div>
	</div>
</div>

<%= render 'home/progress' %>
<div class="container well">
	<div class="profile_progress">
		
	</div>
</div>