// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.company-name .navbar-brand {
	font-size: 20px;
	color: #fff;
}

.client_progress {
	padding: 0 15px;
}

.client_progress .imcomplete {
	width: 49%;
}

.client_progress .complete {
	width: 49%;
}

.client-progress-bar {
	width: 100%;
	height: 10px;
	background-color: red;
}

.client-progress-bar .done{
	width: 67%;
	height: 10px;
	background-color: green;
	position: absolute;
}

.padding-sides {
	padding: 0 30px;
}

.checkbox {
	font-weight: normal;
}

main {
	margin-top: 0px !important;
}

body {
	padding-top: 40px !important;
}