@import "bootstrap";

/* sidebar */

#head {
  text-align: center;
}

#title {
    font-family: 'Sanchez', serif;
    font-size: 60pt;
}

#nav {
  text-align: center;
}

#options {
  text-align: center;
}