<% provide(:title, 'All Clients') %>
<h1>All Clients</h1>

<ul class="clients">
  <% @clients.each do |client| %>
    <li>
      <%= link_to client.client_id, client %>
    </li>
  <% end %>
</ul>